*
!.gitignore
!*.json
!*.json.lz4
!*.ini
!*.js
!*.mozlz4
!browser-extension-data/
!browser-extension-data/**
!permissions.sqlite
# !permissions.sqlite-wal
# !permissions.sqlite-shm
!storage-sync-v2.sqlite
# !storage-sync-v2.sqlite-wal
# !storage-sync-v2.sqlite-shm
!extensions/
!extensions/**
!storage/
!storage/**
!chrome/
!chrome/**
broadcast-listeners.json
shield-preference-experiments.json
