*
!.gitignore
!/default/
!/default/chrome/
!/default/chrome/**
!/default/moz-extension*/
!/default/moz-extension*/.metadata*
!/default/moz-extension*/idb/
!/default/moz-extension*/idb/*.sqlite
!/permanent/
!/permanent/chrome/
!/permanent/chrome/.metadata*
!/permanent/chrome/idb/
!/permanent/chrome/idb/*.sqlite
!/permanent/indexeddb*/
!/permanent/indexeddb*/.metadata*
!/permanent/indexeddb*/idb/
!/permanent/indexeddb*/idb/*.sqlite
